@font-face {
    font-family: 'Roboto-Bold';
    src: url(./Fonts/Roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(./Fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.hero { /*hero and footer */
    background-color: #1F2937;
    width: 100vw;
}

.header {
    display: flex;
    /* padding-top: 20px; */
    width: 80%;
    margin: auto;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    text-decoration: none;
    /* padding-left: 20px; */
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-link a {
    font-size: 18px;
    color: #E5E7EB;
    /* padding: 20px; */
    text-decoration: none;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: normal;
}

.hero-image {
    width: 250px;
    height: auto;
}