@font-face {
    font-family: 'Roboto-Regular';
    src: url(../Fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../Fonts/Roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(../Fonts/Roboto/Roboto-LightItalic.ttf) format('truetype');
    font-weight: lighter;
}

:root {
    --light-blue: #3882F6;
    --dark-blue: #1F2937;
    --white: #F9FAF8;
    --gray: #E5E7EB;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
}

header {
    background-color: var(--dark-blue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.hero {
    padding-bottom: 80px;
    margin-top: 40px;
}


.hero, .footer-container { 
    background-color: var(--dark-blue);
    width: 100vw;
}

.header {
    display: flex;
    padding: 8px 12.5% 8px 12.5%;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: var(--white);
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding-right: 20px;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    justify-content: space-between;
    text-align: end;
}

.hero-link a {
    padding: 5px;
    text-decoration: none;
}

.hero-link a:hover {
    text-decoration: underline;
}

.hero-header {
    display: flex;
    width: 75%;
    margin: auto;
    font-size: 48px;
    color: var(--white);
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    padding-top: 100px;
}

.hero-text-info {
    padding-right: 50px;
}

.hero-link a, .secondary-hero-text {
    font-size: 18px;
    color: var(--gray);
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: normal;
}

.signup-btn {
    background-color: var(--light-blue);
    color: var(--white);
    font-size: 18px;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
}

.signup-btn:hover, .action-btn:hover {
    background-color: var(--dark-blue);
    border: 2px solid var(--light-blue);
    cursor: pointer;
}

.hero-image {
    width: 450px;
    height: 250px;
}

.information {
    width: 65%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 60px;
}

.info-header {
    font-size: 36px;
    color: var(--dark-blue);
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.main-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    margin-bottom: 30px;
    /* width: 200px; */
    /* height: 200px; */
    /* padding-bottom: 30px; */
}  
.info-img {
    width: 200px;
    height: 200px;
    border: 3px solid var(--light-blue);
    border-radius: 8px;
    color:var(--dark-blue);
    font-size: 18px;
}

.quote-container {
    width: 100vw;
    height: auto;
    min-height: 260px;
    padding: 20px;
    background-color: var(--gray);
    display: flex;
    margin-bottom: 70px;
}

.inner-container {
    width: 65%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: var(--dark-blue);
    font-family: 'Roboto-LightItalic', sans-serif;
    font-weight: lighter;
}

.author {
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    font-family: 'Roboto-Bold', sans-serif;
}

.action-container {
    width: 70%;
    margin: auto;
    min-height: 130px;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 80px;
    padding: 20px;
}

.bold-text {
    font-size: 24px;
    font-family: 'Roboto-Bold', sans-serif;
    color:var(--white);
    line-height: 1.5;
}

.secondary-action-text {
    font-size: 18px;
    font-family: 'Roboto-Regular', sans-serif;
    padding-right: 85px;
    color: var(--gray);
}

.action-btn {
    font-size: 18px;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    background-color:var(--light-blue);
    border: 2px solid var(--white);
    color: var(--white);
}

.footer-container {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center; 

}

@media screen and (max-width: 360px) {
    .header-nav a {
        font-size: 16px;
    }

    .hero-text-info h1 {
        font-size: 40px;
    }

    .hero-text-info p {
        font-size: 16px;
    }
}

.copyright {
    color: var(--gray);
    font-family: 'Roboto-Regular', sans-serif;
    padding-right: 5px;
}

.copyright-img {
    width: 15px;
    height: auto;
}

a {
    text-decoration: none;
    color: currentColor;
}

@media screen and (max-width: 360px) {
    .header-nav {
        font-size: 10px;
    }

    .hero-text-info h1 {
        font-size: 40px;
    }

    .hero-text-info p {
        font-size: 16px;
    }

    .info-header {
        font-size: 30px;
    }

    /* .secondary-action-text {
        width: 100%;
        padding: 0;
    } */
}

@media screen and (max-width: 493px) {
    .header-nav {
        justify-content: center;
    }

    .header-nav span {
        flex-basis: 100%;
        margin-bottom: 5px;
    }

    .hero {
        margin-top: 60px;
    }

    .quote {
        font-size: 25px;
    }

    .action-container {
        flex-direction: column;
    }

    .secondary-action-text {
        padding: 0;
    }

    .action-btn {
        margin-top: 20px;
    }
}

@media screen and (max-width: 716px) {
    .main-image-container {
        justify-content: center;
    }
}

@media screen and (max-width: 763px) {
    .header-nav {
        flex-basis: 100%;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1279px) {
    .hero-header {
        flex-wrap: wrap;
        padding-top: 40px;
    }

    .hero-image {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }
    
    .image-container {
        flex-basis: 50%;

    }

    .info-img {
        width: 200px;
        height: 200px;
    }
}

/* @media screen and (max-width: 1340px) {
    .information, .inner-container {
        width: 70%;
    }
} */
